/* Voor Nicolas:

NIET VERGETEN OM 'GLOBAL' .CSS BESTAND TE MAKEN 
bijv. voor de boombox, uitklapmenu's, enz. */

a {
    text-decoration: none;
}

.curtain {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: beige;
    z-index: 999999999;
    animation-name: none;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-duration: 2s;
}

.tutorial {
    animation-name: none;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 10;

    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.tutorial_back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: beige;
    z-index: 100;
    opacity: 0%;

    animation-name: none;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.tutorial_textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 50vw;
    height: 500px;
    padding: 10px;
    margin-left: calc(25vw - 10px);
    margin-top: 10px;
    text-align: center;
    z-index: 100;
}

.tutorial_kop {
    font-size: 60px !important;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
}

.tutorial_textbox span {
    font-size: 30px;
}

.tutorial_text_extra {
    margin-top: 10vh;
}



.coin_container {
    position: absolute;
    width: 70%;
    margin-left: 15%;
    height: 150px;
    margin-top: 83vh;
}

.coin {
    position: absolute;
    width: 150px;
    height: 150px;
    z-index: 3;
}

.coin_img {
    width: 100%;
    height: 100%;
}

.curtain img {
    width: 100%;
    height: 100%;
}

.background_container {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.background_prop {
    position: absolute;
}

#backgroundprop_cattree {
    scale: 1.5;
    margin-top: 2.2vh;
}

#backgroundprop_foodandwater {
    display: flex;
    gap: 50px;
    scale: 1.4;
    margin-top: 74vh;
    margin-left: 20vw;
}


.background_woonkamer {
    width: 100%;
    height: 100%;
}

.template {
    display: none;
}

body {
    margin-top: 0;
    margin-left: 0;
    overflow: hidden;
}

.template {
    display: none;
}

.achtergrond {
    position: absolute;
    width: 100%;
    height: 100%;
}

.locationbar_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    margin-top: -312px;

    animation-name: none;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.back_locationbar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40vw;
    min-height: 310px;
    background-color: #609C3B;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 2px solid black;
    box-sizing: border-box;

    z-index: 4;
}

.back_locationbartext {
    background-color: white;
    box-sizing: border-box;
    border: 3px solid black;
    display: flex;
    width: 450px;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    height: 65px;
}

.location_bar {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    min-height: 210px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.locationbar_option {
    display: flex;
    position: relative;
    width: 150px;
    height: 150px;
    background-color: #F0BFD5;
    color: black;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
    border: 1px solid black;
    transition: 0.5s transform;

    text-shadow: 0px 2px white;
}

.locationbar_option:hover {
    transform: scale(1.2);
}

.interactomgeving_container {
    position: absolute;
    z-index: 3;
    display: none;
}

.interactomgeving_titel {
    margin-left: calc(50vw - 250px);
    margin-top: 1%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width: 500px;
    height: 150px;
    background-color: beige;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    line-height: 50px;
    border: 2px solid black;
    box-shadow: 0px 1px black;
    text-shadow: 2px 0px darkkhaki;
}

.shop {
    background-color: gold ;
}

.arrowcontainer_locationbar {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 40vw;
    background-color: #76262B;
    border: 2px solid black;
    box-sizing: border-box;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.arrow_locationbar {
    cursor: pointer;
    width: 100px;
    rotate: 90deg;
    margin-top: 60px;
    margin-left: -2px !important;
}

a {
    cursor: pointer;
}

.current {
    border: 5px solid black;
    border-style: dotted;
}

.percentages_en_icoontjes {
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: center;
    gap: 5px;
    animation-name: none;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    z-index: 1;
    margin-top: -121px;
    background-color: #609C3B;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    border-top: 0px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.percentage_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    height: 40px;
    font-size: 27px;
    background-color: #F0BFD5;
    border-radius: 15px;
    border: 2px solid black;

}

.container_percentagesenicoontjes {
    display: flex;
    justify-content: space-evenly;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid black;
}

.icon img {
    width: 100%;
    height: 100%;
}

.mallowstatus_container {
    position: absolute;
    z-index: 4;
}

.mallowstatusdrag_container {
    width: 245px;
    height: 45px;
}

.mallowstatus_drag {
    width: 45px;
    height: 45px;
    background-color: #F0BFD5;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid black;
    cursor: move;
}

.mallowstatus_drag img {
    width: 90%;
    height: 90%;
}

.mallow_status {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: #76262B;
    width: 245px;
    border: 3px solid black;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.mallow_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -3px;
    width: 250px;
    height: 250px;
    background-color: white;
    cursor: pointer;
    border-radius: 20px;
    z-index: 2;
    position: relative;
    border: 3px solid black;
    padding: 4px;

    transition: transform 0.5s;
}

.mallow_icon:hover {
    transform: scale(1.1);
}

.mallowicon_img {
    width: 90%;
    height: 100%;

    animation-name: none;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.bars {
    display: flex;
    height: 0px;
    width: 250px;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -18px;
    animation-name: none;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    z-index: 1;
}

.bar {
    display: flex;
    align-items: flex-end;
    height: 0px;
    width: 70px;
    background-color: black;
    box-sizing: border-box;
    border: 2px solid black;
    box-shadow: 2px 2px black;

    animation-name: none;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    z-index: 1;
}

.inside_bar {
    background-color: green;
    width: 100%;
    height: 100%;
}

.food {
    background-color: rgb(165, 87, 42);
}

.thirst {
    background-color: rgb(65, 65, 255);
}

.hygiene {
    background-color: rgb(200, 245, 245);
}

.playbar_container {
    z-index: 3;
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: -352px;

    animation-name: none; /* sidebar_move1 of sidebar_move2 */
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    height: 100%;
    z-index: 2;
}

.back_playbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
    background-color: #609C3B;
    border-radius: 15px;
    border: 2px solid black;
    box-sizing: border-box;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 65vh;
    min-height: 642px;
}

.arrowcontainer_playerbar {
    display: flex;
    align-items: center;
    width: 60px;
    min-height: 642px;
    height: 65vh;
    background-color: #76262B;
    font-size: 80px;
    border: 2px solid black;
    box-sizing: border-box;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.arrow_playerbar, .arrow_locationbar {
    cursor: pointer;
    width: 0;
    height: 0;
    border-right: 60px solid transparent;
    border-left: 60px solid pink;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    position: absolute;
    margin-left: 45px;
    z-index: 4;
}

.arrow_moneybar {
    position: absolute;
    margin-top: 20px;
    border-right: 40px solid transparent;
    border-left: 40px solid #76262B;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    rotate: 90deg;
}

.playbar_titel {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    width: 300px;
    height: 80px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 15px;
}

.play_bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 84%;
    align-items: center;
    width: 300px;
    padding: 20px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-sizing: border-box;
    border: 3px solid black;
    box-shadow: 2px 2px 0px black;
}


.boombox_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 4;
}

.boombox_move, .status_move {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    width: 45px;
    height: 45px;
    background-color: #609C3B;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 2;
    border: 2px solid black;
}

.boombox_move img {
    width: 90%;
    height: 90%;
    cursor: move;
}

.boombox {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    background-color: pink;
}

.boombox_touch {
    cursor: pointer;
    
    transition: transform 0.5s;
    z-index: 2;
}

.boombox_touch:hover {
    transform: scale(1.1);
}

.boombox img, .boombox_touch {
    width: 100%;
    height: 100%;
}

.boombox_openmenu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: #F0BFD5;
    margin-left: -50px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    z-index: 1;

    animation-name: none;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.nowplaying_box {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    width: 400px;
}

.controls_box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    gap: 10px;
}

audio {
    width: 290px;
}

.loop_music {
    width: 50px;
    height: 50px;
    background-color: red;
    cursor: pointer;
}

.loop_music img {
    width: 100%;
    height: 100%;
}

.songselect_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song_select {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #609C3B;
    height: 50px;
    font-size: 23px;
    border-radius: 15px;
    border: 1px solid black;
    cursor: pointer;
    transition: transform 0.5s;
}

.song_select:hover {
    transform: scale(1.1);
}

.songselect_menu {
    border: 2px solid black;
    display: none;
    align-items: flex-start;
    flex-direction: column;
    width: 450px;
    height: 154px;
    background-color: #609C3B;
    border-radius: 15px;
    padding: 7px;
    position: absolute;
    margin-top: 60px;
    overflow-x: auto;

    animation-name: none;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.songselect_song {
    display: flex;
    background-color: #76262B;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 5px;
    margin-bottom: 5px;
    justify-content: space-evenly;
    cursor: pointer;
    border-radius: 5px;
    width: 96%;
    align-items: center;
}

.songselectsong_name, .songselectsong_album {
    display: flex;
    align-items: center;
    background-color: #F0BFD5;
    min-height: 20px;
    width: 120px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.songselectsong_album {
    height: 20px;
}

.click_to_select {
    width: 30px;
    height: 30px;;
    border-radius: 100%;
}

.unselected {
    background-color: green;
    border: 1px solid black;
    transition: background-color 0.5s;
}

.unselected:active {
    background-color: red;
}

.selected {
    transition: background-color 0.5s;
    background-color: red;
    border: 1px solid black;
}

.selected:active {
    background-color: red;
}

.playbar_option {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    background-color: #F0BFD5 !important;
    border-radius: 10px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-shadow: 2px 2px white;
    transition: transform 0.5s;
}

.playbar_option:hover {
    transform: scale(1.2);
}

.playbar_option span {
    text-align: center;
}

.song_and_artist {
    font-size: 24px;
    margin-top: 5px;
    width: 230px;
    background-color: #76262B;
    border-radius: 10px;
    color: white;
    border: 2px solid black;
}

.album_and_artist {
    display: flex;
    gap: 10px;
    align-items: center;
}

.album, .artist {
    height: 50px;
    width: 50px;
}

.album img, .artist img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-sizing: border-box;
    border: 2px solid black;
}

.rest_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 139px;
    width: 100%;
}

.mallow_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 600px;
    width: 325px;
    position: absolute;
    margin-left: calc(50% - 167.5px);
    margin-top: 40vh;
}

.mallow {
    cursor: pointer;

    display: flex;
    justify-content: center;

    animation-name: none;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-timing-function: ease;

    transition: transform 0.5s;
}

.mallow:hover {
    transform: scale(1.2);
}

.mallow img {
    width: 100%;
    height: 100%;
}

.artist_name {
    font-size: 25px;
}

.song_name {
    font-size: 45px;
}

.album_cover, .pfp_artist {
    width: 40px;
    height: 40px;
}

.album_cover img, .pfp_artist img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid black;
}

.icon_artist img {
    width: 100%;
    height: 100%;
}

.game_options {
    display: flex;
    position: absolute;
    margin-top: 92.4vh;
    margin-left: 10px;
    gap: 20px;
    z-index: 3;
}

.main_buttons {
    column-gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 80px;
    background-color: #76262B;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 2px 2px 0px black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
}

.terug_button {
    display: none;

    cursor: pointer;
    width: 200px;
    background-color: #76262B;
    height: 80px;
    border: 2px solid black;
    box-shadow: 2px 2px 0px black;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 0.5px white;
}

.mainmenu_knop, .volgende_dia, .tutorial_skip, .tutorial_btn {
    width: 190px;
    height: 60px;
    background-color: #F0BFD5;
    border-radius: 15px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}

.volgende_dia {
    background-color: #609C3B !important;
    display: none;
}

.tutorial_btn {
    width: 60px;
    height: 60px;
    background-color: white;
}

.tutorial_btn img {
    width: 100%;
    height: 100%;
}

.tutorial_skip {
    background-color: white;
    display: none;
}

.item {
    display: none;
    background-color: red;
    width: 200px;
    height: 200px;
    position: absolute;
    margin-left: calc(50% - 100px);
    margin-top: 8%;
    cursor: move;
}

.item img {
    width: 100%;
    height: 100%;
}

.howmuchcashcontainer_adjust {
    position: absolute;
    width: 100%;
}

.howmuchcash_container {
    z-index: 4;
    width: 285px;
    margin-left: auto;

    animation-name: none;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
}

.howmuch_cash {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 285px;
    height: 95px;
    background-color: #609C3B;
    border-bottom-left-radius: 15px;
    border: 3px solid black;
    border-top: 0px;
    border-right: 0px;
}

.cash_icon {
    width: 70px;
    height: 70px;
}

.cash_icon img {
    width: 100%;
    height: 100%;
}

.cash_amount {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 160px;
    height: 75px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
}

.cash_show {
    display: flex;
    justify-content: center;
    width: 120px;
    height: 25px;
    background-color:#F0BFD5;
    border: 2px solid black;
    border-top: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}