.locationbar_container {
    z-index: 2;
}

#shop_container {
    display: flex;
    justify-content: center;
    position: absolute;

    margin-top: calc(40vh - 200px);
    width: 100vw;
}

#shop_interface {
    display: flex;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    border: 4px solid black;
    justify-content: space-between;
}

#shop_selectitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 500px;
    height: 800px;
    background-color: #609C3B;
    border: 2px solid black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 2px 2px black;
    padding-top: 5px;
}

.select {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    width: 95%;
    height: 100px;
    border-radius: 10px;
    border: 3px solid black;
}

#shop_itemselectcontainer {
    display: none;
    justify-content: flex-start;
    width: 440px;
    height: 650px;
    background-color: #76262B;
    margin-top: 7px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 3px solid black;
    border-left: 0px;
    padding-top: 5px;
    flex-wrap: wrap;
    overflow-y: scroll;
}

#item_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 97%;
    justify-content: center;
    height: 13%;
    gap: 10px;
    margin-left: 5px;
}

.itemselect {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: white;
    border-radius: 15px;
    width: 80px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid black;
}

.itemselect img {
    width: 100%;
    height: 100%;
}

.category_unselected {
    background-color: #76262B;
    color: white;
    text-shadow: 0px 4px black;
}

.category_selectedSakura {
    background-color: rgb(255, 143, 143);
}

#reset_costumes {
    display: none;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    background-color: red;
    margin-top: 15px;
    font-size: 25px;
    border-radius: 15px;
    border: 3px solid black;
}

.item_selected {
    background-color: #609C3B;
}

#arrow_left, #arrow_right {
    width: 80px;
    height: 80px;
    background-color: gray;
    font-size: 30px;
}

#mallowdressup_container {
    display: flex;
    flex-direction: column;
    background-color: #F0BFD5;
    justify-content: space-around;
    width: 800px;
    margin-left: 20px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 2px solid black;
    box-shadow: 2px 2px black;
}

#mallow_preview {
    width: 325px;
    height: 400px;
}

#mallow_preview img {
    width: 100%;
    height: 100%;
}

#mallow_platform_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#options_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #609C3B;
    border-radius: 15px;
    align-items: flex-end;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 2px solid black;
}

#cost_container, #name_container{
    display: none;
    min-width: 100px;
    height: 70px;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    border-radius: 15px;
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

#name_container {
    display: none;
    min-width: 250px;
    height: 75px;
}

#cost_container {
    background-color: #F0BFD5;
}

#bottomcontainer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container_equiporbuy {
    display: flex;
    gap: 5px;
}

.equip_button, .buy_button {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    width: 200px;
    height: 80px;
    background-color: #76262B;
    text-shadow: 2px 2px white;
    border-radius: 15px;
    border: 2px solid black;
}

.buy_button {
    display: none;
    background-color: white;
}

#lock {
    display: none;
    width: 70px;
    height: 70px;
    position: absolute;
}

#lock img {
    width: 100%;
    height: 100%;
}

#mallow_platform {
    width: 500px;
    height: 100px;
    background-color: #76262B;
    border: 2px solid black;
    border-radius: 15px;
}